/* product */
#product1 {
    padding: 40px;
    text-align: center;
  }
  
  #product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    /* border: 1px solid #cce7d0; */
    border-radius: 25px;
    cursor:unset;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
  
  }
  
  #product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(1, 1, 1, 0.2);
    transition: 0.30s;
  }
  
  #product1 .pro img {
    width: 100%;
    border-radius: 20px;
  }
  
  #product1 .pro .des {
    text-align: start;
    padding: 10px 0;
  
  }
  
  #product1 .pro .des span {
    color: #606063;
    font-size: 12px;
  }
  
  #product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
  }
  
  #product1 .pro .des i {
  
    color: rgb(243, 181, 25);
    font-size: 14px;
  }
  
  #product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
  }
  
  #product1 .pro .cart {
    width: 40px;
    height: 40px;
    /* font-weight: 500; */
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
  
  }
  
  
  
  #product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
  
  }
  
  button.button {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: #088178;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
  
  
  }
  
  button.button a,
  button.button{
    
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:#ffff;
    text-align: center;
   
  
  }
  
  button.button:hover{
    /* background-color:#ff0080; */
    background-color: #ff1a1a;
  }